/* Estilo para Celulares */

@media (max-width: 576px) {

header{
    background: url("../Imagens/BackgroudHero_android.png") center no-repeat border-box scroll; 
    background-size: cover;
}

nav{
    height: 10dvh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width: 56px;
    height: 52px;

    margin-left: 4vw;
}

#logo > img {
    width: 100%;
    height: 100%;
}

#menuburguer{
    margin-right: 4vw;
}

#nav{
    display: none;
}

section > .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5dvh;

    height: 50dvh;
}

h1{
    width: 95%;

    font-size: 3.2rem;
    text-align: center;
}

h2{
    width: 95%;

    font-size: 1.6rem;
    text-align: center;
}

section > #heroCTA{
    height: 40dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2dvh;
}

#heroCTA :first-child{
    padding: 10px 0px;

    width: 50vw;

    font-size: 1.6rem;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#heroCTA :last-child{
    font-size: 1.4rem;
}

}